
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;

}
main{
    margin: auto;
    border:2px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
h1{
    text-align: center;
}
.contacts{
border:1px serif gray;
background-color: lightblue;
}
.other{
    border:1px solid lightcoral;
    background-color: mediumorchid;
}
footer{
    background:#DB8A8A;
    position:absolute;
}
img{
    border-radius: 100px; 
    border: 3px solid green; 
    box-shadow: 0 0 7px #666; 
}
a{
    color:red;
    text-decoration: overline;
}
